.tac
  text-align: center
.tar
  text-align: right

.mb
  margin-bottom: 1rem
.mb2
  margin-bottom: 2rem

// .jcc
//   justify-content: center
// .jcfe
//   justify-content: flex-end
// .jcsb
//   justify-content: space-between
