.wrap-card-content
  background-color: #fff
  padding: .5rem
  border-radius: $borderRadius
  box-shadow: $borderShadow
  font-size: 1.4rem
  transition: $transitionDefaultHover
  &:hover
    box-shadow: $borderShadowHover
  @media screen and (min-width: $phoneWidth)
    padding: .5rem
    font-size: 1.5rem
  @media screen and (min-width: $tableWidth)
    padding: 1rem
    font-size: 1.6rem
  @media screen and (min-width: $smDesktopWidth)
    padding: 1.5rem
  @media screen and (min-width: $desktopWidth)
    padding: 2rem

.underlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: #333
  opacity: 0
  pointer-events: none
  transition: all .2s linear

.button-default-style-none
  background-color: transparent
  padding: 0
  margin: 0
  border: none

.tac
  text-align: center
.tar
  text-align: right

.mb
  margin-bottom: 1rem
.mb2
  margin-bottom: 2rem



// .jcc
//   justify-content: center
// .jcfe
//   justify-content: flex-end
// .jcsb
//   justify-content: space-between
