$color-bg-sidebar        : #fff
$color-bg-body           : #f7f7f7

// Main color

$theme-color-yellow      : #ffd438
$theme-color-black       : #2a2424

$default-color           : #ffffff
$primary-color           : #4b4
$success-color           : #26de81
$danger-color            : #fc5c65
$danger-color2           : #b53f3f
$warning-color           : #fed330
$light-color             : #999999
$purple-color            : #8854d0

// Neutral Color
$neutral-primary         : #303133
$neutral-regular         : #606266
$neutral-secondary       : #909399
$neutral-placeholder     : #C0C4CC

// Border Color
$border-base             : #DCDFE6
$border-light            : #E4E7ED
$border-lighter          : #EBEEF5
$border-lightex          : #F2F6FC

$color-dark-shade-100    : #1F2041
$color-dark-shade-75     : rgba(31, 32, 65, 0.75)
$color-dark-shade-50     : rgba(31, 32, 65, 0.5)
$color-dark-shade-40     : rgba(31, 32, 65, 0.4)
$color-dark-shade-35     : rgba(31, 32, 65, 0.35)
$color-dark-shade-30     : rgba(31, 32, 65, 0.3)
$color-dark-shade-25     : rgba(31, 32, 65, 0.25)
$color-dark-shade-15     : rgba(31, 32, 65, 0.15)
$color-dark-shade-10     : rgba(31, 32, 65, 0.10)
$color-dark-shade-5      : rgba(31, 32, 65, 0.05)

$color-purple            : #BC9CFF
$color-green             : #6FCF97

$color-primary: $color-purple

$color-text-grey: #999


$gradient-linear-purple: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
$gradient-linear-green: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)





/* ниже хлам для тестов */

$lightseagreen: #29c59c
$darkslategray: #1f273e

$blue: #009cf0
$red: #ff6163

